<a href="https://colab.research.google.com/github/aquibaijaz11/GRIP-TSF/blob/master/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [93]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [94]:
dataset = pd.read_csv('Book1.csv')

In [95]:
dataset.head()

   Perchase amount ($)  ...  Discount card type (0 means no card and there are three discount cards
0                837.0  ...                                                  2
1               1533.0  ...                                                  2
2               1577.0  ...                                                  1
3               1055.0  ...                                                  3
4               1279.0  ...                                                  2

[5 rows x 7 columns]

In [96]:
dataset.describe()

       Perchase amount ($)  ...  Discount card type (0 means no card and there are three discount cards
count           500.000000  ...                                         500.000000
mean           1178.554000  ...                                           1.510000
std             295.183783  ...                                           1.090081
min             672.000000  ...                                           0.000000
25%             919.750000  ...                                           1.000000
50%            1202.500000  ...                                           2.000000
75%            1430.250000  ...                                           2.000000
max            1669.000000  ...                                           3.000000

[8 rows x 7 columns]

In [97]:
data = pd.DataFrame(dataset)

In [98]:
X = dataset.iloc[:,:-1].values
y = dataset.iloc[:,-1].values

In [99]:
print(X)

[[8.370e+02 2.000e+00 3.000e+01 0.000e+00 3.000e+00 0.000e+00]
 [1.533e+03 2.000e+00 3.700e+01 1.000e+00 6.000e+00 1.000e+00]
 [1.577e+03 3.000e+00 3.700e+01 0.000e+00 6.000e+00 1.000e+00]
 ...
 [1.336e+03 2.000e+00 3.800e+01 0.000e+00 5.000e+00 0.000e+00]
 [1.119e+03 4.000e+00 3.600e+01 1.000e+00 2.000e+00 0.000e+00]
 [1.071e+03 2.000e+00 5.800e+01 0.000e+00 6.000e+00 0.000e+00]]

In [100]:
print(y)

[2 2 1 3 2 0 1 2 1 1 2 2 2 2 2 0 2 3 2 1 1 2 3 1 1 1 0 2 1 1 3 3 0 2 2 2 2
 2 1 1 2 1 2 0 3 1 0 2 3 3 2 2 0 3 2 0 2 3 0 2 2 0 2 1 0 3 2 3 3 0 3 2 1 3
 0 0 2 3 1 2 1 2 3 1 0 0 1 2 0 0 0 2 1 2 3 3 0 0 3 3 3 3 2 1 3 0 0 1 0 2 0
 1 2 2 3 2 0 1 1 3 1 2 1 1 0 0 1 1 3 3 0 1 0 3 3 3 3 2 2 2 1 0 0 2 0 0 2 2
 2 0 2 1 0 0 1 3 1 1 1 3 0 3 3 2 0 2 1 1 3 1 1 3 2 1 2 0 1 1 3 3 3 3 3 1 3
 2 2 1 0 0 1 3 1 2 3 3 3 3 2 3 1 2 0 3 0 3 1 0 2 3 0 2 1 2 0 3 3 2 1 3 0 3
 3 0 2 1 1 0 1 0 2 0 0 3 2 0 3 3 2 1 2 1 1 1 3 0 1 3 1 2 3 1 1 2 2 2 2 3 3
 3 2 3 1 0 2 2 0 1 3 3 2 0 2 2 0 1 1 3 1 2 1 0 2 0 3 1 2 0 3 0 1 3 3 2 1 2
 3 0 3 0 2 0 1 0 2 0 2 3 2 0 0 2 1 3 2 3 2 3 2 0 1 2 1 3 0 0 2 1 3 0 0 3 2
 1 2 2 2 2 0 2 2 0 1 3 2 1 1 3 0 0 3 1 3 2 3 1 2 1 1 3 0 1 1 2 0 3 1 1 2 0
 2 3 1 1 3 0 0 2 3 3 0 2 3 2 0 2 1 0 3 3 1 1 1 1 2 3 0 1 0 0 0 1 3 2 1 3 2
 0 1 3 1 2 0 2 2 0 1 0 1 1 3 2 1 0 0 0 1 1 2 3 3 3 1 2 3 1 2 3 1 1 1 0 0 2
 2 2 2 0 3 1 3 3 2 3 1 0 1 0 2 2 1 0 3 2 1 0 2 0 1 2 2 0 0 0 2 0 2 1 0 3 1
 1 1 1 1 0 0 3 2 0 0 1 2 2 3 1 3 0 2 0]

In [101]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [102]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

ValueError: ignored